
\.idea/

*.properties

\.gradle/4\.4/fileChanges/

\.gradle/4\.4/fileHashes/

\.gradle/4\.4/taskHistory/

\.gradle/4\.6/fileChanges/

\.gradle/4\.6/fileHashes/

\.gradle/4\.6/taskHistory/

\.gradle/buildOutputCleanup/

app/proguard-rules\.pro
